.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
  padding: {
    top: 1.55rem;
    bottom: 1.35rem;
  }
  background-color: $bgClr;

  &__ul {
    &--li {
      display: inline-block;
      margin-left: 2.05rem;

      &:first-child {
        margin-left: 0;
      }

      &-links {
        font-size: 1.15rem;
        color: $linkClr;
        font-weight: 500;
        letter-spacing: 1px;
      }
    }
  }
}
