$fontFamily: "Montserrat", sans-serif;
// Colors
$bgClr: #ffffff;
$linkClr: #000000;
$aboutClr: #151414;
$btnClr: #023e74;
$btnTextClr: #ffffff;
$footerClr: #f0f0f0;

// Sizes
$textSize: 16px;
$globalPadding: 6rem;
